.clock-container {
    position: relative;
    width: 200px; /* Измените размеры в соответствии с вашими изображениями */
    height: 200px; /* Измените размеры в соответствии с вашими изображениями */
  }
  


  .clock-imageMain {
    position: absolute;
    top: 0;
    left: 0;
    width: 229px; /* Растягиваем изображения на всю ширину родительского контейнера */
    height: 229px; /* Растягиваем изображения на всю высоту родительского контейнера */
  }
  .clock-image {
    position: absolute;
    top: 0;
    left: 15px;
    width: 100%; /* Растягиваем изображения на всю ширину родительского контейнера */
    height: 100%; /* Растягиваем изображения на всю высоту родительского контейнера */
  }